body {
	background: #f9f7fe;
	font-family: "Roboto", sans-serif;
}

p {
	font-size: 16px;
	line-height: 24px;
}

a {
	color: #885df1;
	font-weight: 700;
}

.weather-app {
	background: white;
	max-width: 600px;
	margin: 60px auto;
	padding: 32px;
	border-radius: 16px;
	box-shadow: 0 32px 52px rgba(65, 50, 100, 0.08);
}

header {
	border-bottom: 1px solid #f9f7fe;
	padding-bottom: 32px;
}

input {
	border: none;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	margin: 8px;
	padding: 20px;
}

.search-form {
	display: grid;
	grid-template-columns: 80% 1fr;
	grid-gap: 8px;
}

.search-input {
	background-color: #f9f7fe;
	border: 2px solid #f9f7fe;
	color: rgba(39, 33, 66, 0.5);
}

.search-input:focus {
	outline: none;
	border: 2px solid #885df1;
}

.search-button {
	background-color: #885df1;
	border: 2px solid #885df1;
	color: #fff;
	transition: all 200ms ease-in-out;
}

.search-button:hover {
	background-color: #fff;
	color: #885df1;
	cursor: pointer;
}

main {
	padding: 32px 0;
	margin-left: 8px;
	margin-right: 8px;
}

.current-temperature {
	font-size: 48px;
}

.current-weather {
	display: flex;
	justify-content: space-between;
}

.current-city {
	font-size: 40px;
	font-weight: 900;
	margin: 0;
}
.current-details {
	color: rgba(39, 33, 66, 0.4);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.current-details strong {
	color: #f65282;
}

.current-temperature-icon {
	font-size: 40px;
	margin-right: 16px;
	position: relative;
	top: -8px;
}

.current-temperature-value {
	font-size: 80px;
	font-weight: bold;
}

.current-temperature-unit {
	color: rgba(136, 93, 241, 1);
	font-size: 28px;
	font-weight: 100;
	position: relative;
	top: -36px;
}

.selected {
	font-weight: 900;
}

.deselected {
	color: rgba(136, 93, 241, 0.6);
	cursor: pointer;
}

footer {
	border-top: 1px solid #f9f7fe;
	color: rgba(39, 33, 66, 0.4);
	font-size: 16px;
	line-height: 24px;
	padding-top: 16px;
	text-align: center;
}
